@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(
    315deg,
    hsl(207, 61%, 64%) 15%,
    rgba(60, 132, 206, 1) 38%,
    #7ba2c2 68%,
    #2081c2 98%
  );
  animation: gradient 9s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

@keyframes win {
  0% {
    border: 3px solid rgb(74, 180, 131);
  }
  50% {
    border: 3px solid rgb(255, 255, 255);
  }
  100% {
    border: 3px solid rgb(74, 180, 131);
  }
}

@keyframes lose {
  0% {
    border: 3px solid rgb(180, 74, 74);
  }
  50% {
    border: 3px solid rgb(255, 255, 255);
  }
  100% {
    border: 3px solid rgb(180, 74, 74);
  }
}

.wrapper {
  width: 650px;
  background: #ffffff;
  border-radius: 10px;
  margin: 10px;
  border: 3px solid #ccc;
  box-shadow: -15px 15px 255px rgb(173, 173, 173),
    15px -15px 255px rgb(173, 173, 173);
}

.wrapper.active {
  animation: win 0.5s ease;
  box-shadow: -15px 15px 255px rgb(74, 180, 131),
    15px -15px 255px rgb(85, 197, 119);
}

.wrapper.wrong {
  animation: lose 0.5s ease;
  box-shadow: -15px 15px 255px rgb(180, 74, 74),
    15px -15px 255px rgb(180, 74, 74);
}

.headers {
  width: 250px;
  background: rgb(83, 133, 167);
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #ccc;
  position: absolute;
  top: 70px;
  text-align: center;
  margin: 10px;
  box-shadow: 3px 3px 3px rgb(173, 173, 173);
}

.headers h1 {
  color: #fff;
}

.link {
  opacity: 0;
  width: 150px;
  background: rgb(167, 96, 83);
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #ccc;
  position: absolute;
  top: 160px;
  text-align: center;
  padding: 5px;
}

.link a {
  color: #fff;
}

.link.active {
  opacity: 1;
}

.task {
  width: 450px;
  background: #fff;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #ccc;
  position: absolute;
  top: 180px;
  text-align: center;
  padding: 15px;
  box-shadow: 3px 3px 3px rgb(173, 173, 173);
}

.task p {
  font-size: 19px;
}

.levels {
  width: 350px;
  background: #fff;
  justify-content: space-around;
  border-radius: 10px;
  border: 2px solid #ccc;
  position: absolute;
  padding: 10px;
  bottom: 200px;
  display: flex;
  text-align: center;
  margin: 10px;
  box-shadow: 3px 3px 3px rgb(173, 173, 173);
}

.levels .easyButton {
  width: 30%;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.levels .easyButton.active {
  background: rgb(167, 96, 83);
}

.levels .medButton {
  width: 30%;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.levels .medButton.active {
  background: rgb(167, 96, 83);
}

.levels .hardButton {
  width: 30%;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.levels .hardButton.active {
  background: rgb(167, 96, 83);
}

.headers h1 {
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  margin: 5px;
}

.wrapper .content {
  margin: 20px;
}

.content .typingInput {
  z-index: -999;
  position: absolute;
  opacity: 0;
}

.content .inputs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 25px;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}

.inputs input {
  height: 45px;
  width: 45px;
  margin: 4px;
  border: 2px solid #9dc6dd;
  border-radius: 5px;
  background: none;
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #1f567a;
}

.input.active {
  order: 3px solid #4daf7e;
}

.inputs input:first-child {
  margin-left: 0px;
}

.scoreTable {
  position: absolute;
  bottom: 100px;
  justify-content: space-between;
  width: 250px;
  background: #fff;
  border-radius: 10px;
  border: 2px solid #ccc;
  margin: 10px;
  box-shadow: 3px 3px 3px rgb(173, 173, 173);
}

.scoreTable .stabs {
  margin: 15px;
  justify-content: space-around;
  display: flex;
}

.content .details {
  margin: 15px 10px 25px;
  border-bottom: 1px solid #ccc;
}

.details p {
  font-size: 19px;
  margin-bottom: 10px;
}

.details .hintPhrase {
  display: flex;
  font-size: 18px;
  justify-content: center;
  background-color: rgb(83, 133, 167);
  border-radius: 5px;
  padding: 2px;
}

.hintPhrase span {
  color: #fff;
}

.stabs .resetScore {
  width: 25%;
  font-size: 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.content .buttons {
  justify-content: space-around;
  display: flex;
}
.content .resetButton {
  width: 62%;
  font-size: 20px;
  padding: 15px 0;
  color: #fff;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.content .tipButton {
  width: 15%;
  font-size: 20px;
  padding: 15px 0;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.content .tipButton.active {
  background: rgb(167, 83, 83);
}
.content .infoButton {
  width: 15%;
  font-size: 20px;
  padding: 15px 0;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  background: rgb(83, 133, 167);
}

.tryWrong {
  justify-content: space-between;
  display: flex;
}

.tryWrong .wrongLetters span {
  color: rgb(167, 83, 83);
}

@media only screen and (max-width: 750px) {
  .scoreTable {
    position: absolute;
    bottom: 10px;
    justify-content: space-between;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(173, 173, 173);
  }

  .link {
    opacity: 0;
    width: 150px;
    background: rgb(167, 96, 83);
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    position: absolute;
    top: 210px;
    text-align: center;
    padding: 5px;
  }

  .task {
    width: 320px;
    background: #fff;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    position: absolute;
    top: 105px;
    text-align: center;
    margin: 10px;
    box-shadow: 3px 3px 3px rgb(173, 173, 173);
  }

  .headers {
    width: 250px;
    justify-content: center;
    border-radius: 10px;
    position: absolute;
    top: 10px;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(173, 173, 173);
  }

  .inputs input {
    height: 35px;
    width: 35px;
    margin: 4px;
    border: 2px solid #9dc6dd;
    border-radius: 5px;
    background: none;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #1f567a;
  }

  .levels {
    position: absolute;
    width: 300px;
    bottom: 90px;
  }
}

@media only screen and (max-height: 500px) {
  .wrapper {
    width: 400px;
    position: absolute;
    right: 30px;
    background: #ffffff;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid #ccc;
    box-shadow: -15px 15px 55px rgb(173, 173, 173),
      15px -15px 55px rgb(173, 173, 173);
  }
  .scoreTable {
    position: absolute;
    left: 50px;
    bottom: 40px;
    justify-content: space-between;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(173, 173, 173);
  }

  .headers {
    position: absolute;
    left: 50px;
    top: 40px;
    width: 250px;
    background: #fff;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
    box-shadow: 5px 5px 5px rgb(173, 173, 173);
  }

  .inputs input {
    height: 35px;
    width: 35px;
    margin: 4px;
    border: 2px solid #9dc6dd;
    border-radius: 5px;
    background: none;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    color: #1f567a;
  }

  .levels {
    position: absolute;
    top: 160px;
    left: 25px;
    width: 300px;
  }
}
